<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <a class="flogo" href="#"><img class="img-fluid" src="assets/images/logo-footer.svg" alt="logo" /></a>
                <p class="ftext">Evolve daily by efficiently managing your time, thoughts, tasks and routines in a simple app.</p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="footmenu-main">
                    <div class="footmenu">
                        <h4 class="ftitle">Sitemap</h4>
                        <div>
                            <a class="links" href="#">About us</a>
                            <a class="links" href="#">Services</a>
                            <a class="links" href="#">Blog</a>
                            <a class="links" href="#">Team</a>
                        </div>
                    </div>
                    <div class="footmenu">
                        <h4 class="ftitle">Product</h4>
                        <div>
                            <a class="links" href="#">Pricing</a>
                            <a class="links" href="#">Feature</a>
                            <a class="links" href="#">Customer</a>
                            <a class="links" href="#">Feedback</a>
                        </div>
                    </div>
                    <div class="footmenu">
                        <h4 class="ftitle">Legal</h4>
                        <div>
                            <a class="links" href="#">Terms & condition</a>
                            <a class="links" href="#">Privacy policy</a>
                            <a class="links" href="#">License</a>
                            <a class="links" href="#">Security</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <p class="copytext">@2022 All rights reserved</p>
                <div class="social">
                    <a class="fa fa-instagram" href="#"></a>
                    <a class="fa fa-facebook" href="#"></a>
                    <a class="fa fa-linkedin" href="#"></a>
                    <a class="fa fa-twitter" href="#"></a>
                </div>
            </div>
        </div>
    </div>
</footer>